
<h1><%= @cocktail.name %></h1>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

<hr>

<h5>The ingredients are:</h5>

<ul>
  <% @cocktail.doses.each do |dose| %>
  <li><%= dose.ingredient.name.capitalize! %> : <%=dose.description %>  <span><%=link_to '&#183; <i class="fas fa-trash-alt"></i>'.html_safe, dose_path(dose),
        method: :delete %></span></li>
  <% end %>
</ul>

<p>Add doses:</p>

<%= render './doses/form' %>

<%= link_to 'Back to Home', cocktails_path %>
